{% extends "base.html.twig" %}
{% block body %}
    
    {# Haut de page #}
    <div id="navbar">
        <article id="logo">
            <img src="votre-logo.png" alt="Logo" />
        </article>
        <article id="indice">
            <a href="/">Accueil</a>
            <a href="./creation">Inscription</a>
            <a href="./connexion">Connexion / Déconnexion</a>
        </article>
    </div>
    
    
    {# Formulaire #}
    <div id="compte">
        <article id="compte1">
            <h2>Compte courant</h2>
            <p>Nom du compte</p>
            <p>Argent sur le compte tiré de la base de donnée</p>
        </article>
        <article id="compte_epargne">
        </article>
    </div>


    {# Pied de page #}
    <div id="footer">
        <p>&copy Tous droit réservé - Théo / Théo / Mabrouk / Ilian</p>
    </div>
{% endblock %}